<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1>Customize</h1>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/267350/pexels-photo-267350.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:100%">
      <div class="w3-container">
        <h5>Social media ads</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/2385565/pexels-photo-2385565.jpeg?auto=compress&cs=tinysrgb&w=1650" style="width:100%">
      <div class="w3-container">
     <a href="billing"><centre>  <button> <h5>Magazine</h5> </button></centre></a>

      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/802024/pexels-photo-802024.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:100%">
      <div class="w3-container">
        <h5>Vernazza</h5>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/1031700/pexels-photo-1031700.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:100%">
      <div class="w3-container">
        <h5>poster</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkJMcA_IhamYe3RNZksRCjg479WNR_hL-YqA&usqp=CAU" style="width:100%">
      <div class="w3-container">
        <h5>Tv Commericals</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="https://images.pexels.com/photos/682082/pexels-photo-682082.jpeg?auto=compress&cs=tinysrgb&w=1600" style="width:100%">
      <div class="w3-container">
        <h5>Radio ads</h5>
      </div>
    </div>
  </div>
</div>

</body>
</html>
